body{
   box-sizing: border-box;
}

/*
.logo {
    background-image: url(../assets/images/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15rem;
    position: absolute;
    margin:0;
    top: 15rem;
} */

/*******HERO PAGE*********/
#line-menu {
    display: inline-flex;
}

#card-log-in{
    display: block;
    height: auto;
    margin-top: 10rem;
    margin-left: 0.5rem;
    position: relative;
    width: 100%;
}

#photo-user {
    height: 2.5em;
    width: 2.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid blue;
}

#card-btns{
    position: relative;
}




